@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a7dbff !important;
}

.loadmore,
.dashboard > article > h1,
table,
.choosecategory,
.showcategory {
  font-family: "Noto Sans JP", sans-serif;
}

.article-category,
.task > p {
  font-family: "Spartan", sans-serif;
}

.article h2,
.footer-section p {
  font-family: 'Acme', sans-serif;
}

.article-preview{
  font-size: 14px;
  font-family: 'Architects Daughter', cursive;
}

.navigation li,
.readmore,
.footer-section li{
  font-family: 'Permanent Marker', cursive;
}
